        .l1 {
            position: relative;
        }

        .bottom
        {
            position:absolute;
            /*right:0px;*/
            /*bottom:0px;*/
            background:white;
            color:#000000;
            display:block;
            width:100%;
            text-align:center;
            z-index: 10;
        }
        .bottom span
        {
            position:relative;
            display:block;
            left:0;

        }
        #toptoptop
        {
            font-size: 20pt;
            font-family: "PingFang SC";
            font-weight: bold;
            color: black;
            padding: 50px;
            /*width: %;*/
            margin: 0 auto;
        }

        .divcss5{
            width:621px;
            height:auto;
            overflow:hidden;
            margin:0 auto
        }
        .divcss5 img{
            max-width:100%;
            _width:expression(this.width > 621 ? "621px" : this.width);
        }

         #footer {
                height: 80px;
                line-height: 40px;
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
                background: #fff;
                color: gray;
                font-family: "PingFang SC";
                font-size: 14pt;
                letter-spacing: 1px;
            }

         .appstore{
             margin: 0 auto;
             width: 171px;
             height: 57px;
         }

        .container{
	margin-right:auto;
	margin-left:auto;
	/*padding-right:15px;*/
	/*padding-left:15px;*/
	width:100%
	}

.row{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px
	}

.col-12{
	-ms-flex:0 0 100%;
	flex:0 0 100%;
	max-width:100%
	}

.company{
	color:#aaa
	}

footer{text-align:center;background:#090b22;padding:40px 0;color:#fff}
/*.links{position:relative;z-index:1;color:#fff;padding:20px;text-align:center;padding-bottom:40px}*/