<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>成焱的简历</title>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/DailyClock/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div class="resume-container">
    <header>
        <h1>成焱</h1>
        <p>应聘 iOS开发工程师</p>
    </header>
    <section class="contact-info">
    <div class="contact-item">
        <i class="fas fa-phone"></i>
        <a href="tel:18612545535">186-1254-5535</a>
    </div>
    <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <a href="mailto:ab364743113@126.com">ab364743113@126.com</a>
    </div>
    <div class="contact-item">
        <i class="fas fa-blog"></i>
        <a href="https://triplefireman.github.io" target="_blank">triplefireman.github.io</a>
    </div>
    <div class="contact-item">
        <i class="fab fa-github"></i>
        <a href="https://github.com/triplefireman" target="_blank">github.com/triplefireman</a>
    </div>
</section>

<section class="education">
    <h2>教育背景</h2>
    <div class="education-item">
        <i class="fas fa-university"></i>
        <div class="education-content">
            <p>中北大学</p>
            <p>网络工程，大学本科</p>
            <p>2007 - 2011</p>
        </div>
    </div>
</section>


    <section class="experience">
    <h2>工作经验</h2>
    <div class="experience-item">
        <i class="fas fa-briefcase"></i>
        <div class="experience-content">
            <h3>山西全球蛙电子商务有限公司</h3>
            <p>高级iOS开发工程师</p>
            <p>2020年4月至今</p>
        </div>
    </div>
    <div class="experience-item">
        <i class="fas fa-briefcase"></i>
        <div class="experience-content">
            <h3>山西索易科技有限公司</h3>
            <p>软件开发工程师</p>
            <p>2019年8月至2020年4月</p>
        </div>
    </div>
    <div class="experience-item">
        <i class="fas fa-briefcase"></i>
            <div class="experience-content">
            <h3>合一网络技术（北京）有限公司</h3>
            <p>系统分析师</p>
            <p>2015年4月至2019年8月</p>
            </div>
        </div>
    </section>

    <section class="projects">
    <h2>项目经验</h2>
    <article>
        <h3>筋斗云收银</h3>
        <p>给出租车司机使用的收银软件，提供主扫和被扫等多种方式进行收款。</p>
        <ul>
            <li>职责：独立开发，上线。</li>
            <li>技术要点：收银语音播报，消息推送，支付，收款，动态生成二维码。</li>
        </ul>
    </article>
    <article>
        <h3>新土豆 iPhone & iPad</h3>
        <p>新土豆 App 是完全独立于老土豆 App 开发的新视频播放软件，转型定位于短视频分享、社交。</p>
        <ul>
            <li>职责：项目功能的主要开发者之一，负责组织协调项目开发人员。</li>
            <li>技术要点：自定义 UITabBarController，底层使用系统的 TabBarController 进行页面跳转。</li>
        </ul>
    </article>
    <article>
        <h3>优酷视频</h3>
        <p>亿万级视频播放器软件，拥有最流行的各种版权视频的首播权。</p>
        <ul>
            <li>职责：负责个人中心、订阅、收藏、下载等页面的开发，并对接二方 SDK 的接入。</li>
            <li>技术要点：模块化开发，使用阿里巴巴摩天轮进行项目研发和管理。</li>
        </ul>
    </article>
    <article>
        <h3>房牛加</h3>
        <p>服务二手房经纪人的营销移动平台，提供新浪二手房端口的租售房源管理等功能。</p>
        <ul>
            <li>职责：iOS 开发主程序，负责项目版本的控制，任务的分配，核心模块代码的编写。</li>
            <li>技术要点：自定义轮播图，编辑及发布房源，系统相册和拍照功能的使用。</li>
        </ul>
    </article>
    <article>
        <h3>深圳手机移动投注</h3>
        <p>免费的福利彩票软件，包括彩票购买、开奖分析、专家荐号、信息订阅、中奖查询等多种功能。</p>
        <ul>
            <li>职责：项目组主程序，负责项目搭建、任务分配，并开发主要模块双色球，深圳风采、七乐彩等彩种的开发。</li>
            <li>技术要点：使用 OC 原生方式开发老虎机和砸金蛋小游戏，使用 CoreAnimation 实现复杂的动画效果。</li>
        </ul>
    </article>
    <article>
        <h3>葡萄社</h3>
        <p>服务于葡萄酒爱好者的软件，支持葡萄酒知识的阅读、购买葡萄酒、扫条码、拍酒标等方式获取酒款详情。</p>
        <ul>
            <li>职责：项目组成员，负责拍酒标、扫条码、酒款知识、附近商家等功能模块的开发。</li>
            <li>技术要点：自定义截图功能，通过 UIRespons 的 touchBegin、touchMove、touchEnd 系列方法实现实时改变截图框的功能。</li>
        </ul>
    </article>
    <article>
        <h3>泰优惠</h3>
        <p>类美团、大众点评的一款泰州本地化的点评及优惠券领取平台，主要功能包括首页、附近、优惠券、商家展示等页面，二期时加入了在线聊天功能。</p>
        <ul>
            <li>职责：项目组一共三个人开发，一人负责三分之一左右，主要负责附近和商家的feed流和商家详情页展示。</li>
            <li>技术要点：接入了 Baidu 地图展示附近商家的坐标。</li>
        </ul>
    </article>
    <article>
        <h3>美特好到家</h3>
        <p>美特好商超线上购物平台，涉及结算、商品详情等功能。</p>
        <ul>
            <li>职责：结算、商品详情。</li>
            <li>技术要点：Swift 改造，私有库改造。</li>
        </ul>
    </article>
</section>

    <section class="skills">
    <h2>技术能力</h2>
    <ul>
        <li><i class="fas fa-code"></i> 熟悉 OOP、FRP、POP 编程思想</li>
        <li><i class="fas fa-cog"></i> 熟练使用 Xcode、GitHub、SVN、Chareles 等开发工具实现版本控制</li>
        <li><i class="fas fa-laptop-code"></i> 熟练使用 CocoaPod 管理项目工程，并能创建自己的 Pod 库</li>
        <li><i class="fas fa-mobile-alt"></i> 熟练掌握 UI 控件与多视图应用的开发，根据 CoreGraphics、CoreAnimation 制定各种动画</li>
        <li><i class="fas fa-database"></i> 熟练使用 CoreData、FMDB 数据存储</li>
        <li><i class="fas fa-network-wired"></i> 熟练使用多线程编程技术，如 GCD、NSOperation，并对线程同步有较深入了解</li>
        <li><i class="fas fa-tools"></i> 熟练掌握 App 的发布流程，熟悉 AppID 和开发证书的申请</li>
    </ul>
</section>

    <footer>
        <p>版权所有 &copy; 2024 成焱. All rights reserved.</p>
    </footer>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
