{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link href="{%static 'DailyClock/css/mozillaStyle.css' %}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<h1>Mozilla is cool</h1>
<img src="{%static 'DailyClock/images/firefox-icon.png' %}"/>
<p><a href="https://www.mozilla.org/zh-CN/about/manifesto/"> At Mozilla, we're a global community of</a></p>

<ul>
  <li>technologists</li>
  <li>thinkers</li>
  <li>builders</li>
</ul>

<p>working together…</p>
<button>切换用户</button>
<script src="{%static 'DailyClock/scripts/mozillzStudy.js'%}" defer></script>
</body>
</html>