<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'tem.css' %}" type="text/css"/>
</head>
<body>
<p style="text-align: center">
    <img src="static/appIcon.png" ><br>
    <div id="top"><p>极简打卡，是一款很受用户喜欢的小软件，设计简洁，页面美观，色彩丰富，关键免费、完全免费,相比其他的习惯养成软件，不管是云端备份，还是切换字体，都不需要在App内购。</p><br>
<p>下面说一下如果使用这款软件，首先，在首页右上角，有一个“+”号按钮，点击之后可以创建你想要完成的目标，在目标设置页面，可以选择目标完成的时间以及打卡之后是否要记录日志

创建好之后，每天只需要在首页点击打卡按钮就可以完成打卡，打卡完成后，可以点击卡片进入详情查看打卡报表<p><br>

<p>在个人中心，数据存储功能，可以保障你的数据，及时同步到iCloud，避免手机app删除之后，数据丢失，在设置页面，您还可以切换不同的字体，让页面变得更加多彩</p><br>

</div>
    <div class="divcss5">
    <img src="{% static '1242x2688bb (5).png' %}" >
        <p style="margin: 0 auto; text-align: center;font-size: 20pt;font-family: 'PingFang SC'; font-weight: bold">简洁，直观而又简洁的界面</p><br>
    <img src="static/1242x2688bb (4).png">
        <p style="margin: 0 auto; text-align: center;font-size: 20pt;font-family: 'PingFang SC'; font-weight: bold">多彩，丰富多彩的目标</p><br>
    <img src="static/1242x2688bb (3).png">
        <p style="margin: 0 auto; text-align: center;font-size: 20pt;font-family: 'PingFang SC'; font-weight: bold">可控，自定义你的打卡目标</p><br>
    <img src="static/1242x2688bb (2).png">
        <p style="margin: 0 auto; text-align: center;font-size: 20pt;font-family: 'PingFang SC'; font-weight: bold">数据自动化</p><br>
    <img src="static/1242x2688bb (1).png">
        <p style="margin: 0 auto; text-align: center;font-size: 20pt;font-family: 'PingFang SC'; font-weight: bold">个人中心</p><br>
    <img src="static/1242x2688bb.png">
        <p style="margin: 0 auto; text-align: center;font-size: 20pt;font-family: 'PingFang SC'; font-weight: bold">数据备份</p><br>
</div>
</p>

        <div id="footer">
            <span >@2020 火三网络</span><br />
            <span >解释权归火三所有  联系电话：18612545535  </span> <br />
        </div>

</body>
</html>